#employees:hover{     

   -fx-opacity: 0.6;

}

#films:hover{     

   -fx-opacity: 0.6;

}

#logout:hover{     

   -fx-opacity: 0.6;

}

#reports:hover{     

   -fx-opacity: 0.6;

}

#prodducts:hover{     

   -fx-opacity: 0.6;

}

#ts:hover{     

   -fx-opacity: 0.6;

}

