#addfilm:hover{     

   -fx-opacity: 0.6;

}

#editfilm:hover{     

   -fx-opacity: 0.6;

}

#deletefilm:hover{     

   -fx-opacity: 0.6;

}

#actors:hover{     

   -fx-opacity: 0.6;

}


#back:hover{     

   -fx-opacity: 0.6;

}


